* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding-top: 35px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px 25px;
    grid-template-areas:
        "block1 block1 block2 block2"
        "block1 block1 block3 block3"
        "block4 block5 block5 block5"
        "block4 block5 block5 block5";
}
.block {
    padding: 15px;
    display: flex;
    align-items: flex-end;
    background:  #000000ad;
    color: #fff;
}
.block1 {
    grid-area: block1;
    background-size: cover;
    min-height: 400px;
    background: url('../assets/img/kit.jpg') no-repeat center;
    background-size: cover;
}
.block2 {
    grid-area: block2;
}
.block3 {
    grid-area: block3;
}
.block4 {
    grid-area: block4;
}
.block5 {
    grid-area: block5;
}